nav {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

li {
  float: left;
  background: #61dafb;
  margin: 10px;
}

li a {
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

